html, body {
    height: 100%;
    margin: 0;    
    padding: 0;      
}

.container {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    height: 100%;   
    width: 100%;
}

.button {
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
}

.aleatorio {
    margin-top: 30px;
    padding: 20px 90px;
    background-color: #590FD6;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.background-controls {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding: 20px 50px;
}

.title {
    color: #590FD6;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.button.orange {
    background-color: orange;
}

.button.skin-color {
    background-color: #FAD7B5;
}

.button.light-green {
    background-color: lightgreen;
}

.button.green{
    background-color: green;
}

.button.pink {
    background-color: pink;
}

.hora {
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .background-controls {
        gap: 30px;
        padding: 20px 30px;
    }
    .button { width: 60px; }
    .title { font-size: 40px; margin-bottom: 40px; }
}

@media (max-width: 768px) {
    .background-controls {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        padding: 15px 20px;
    }
    .button { width: 50px; }
    .title { font-size: 35px; margin-bottom: 30px; }
}

@media (max-width: 480px) {
    .background-controls {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 10px 10px;
    }
    .button { width: 40px; }
    .title { font-size: 28px; margin-bottom: 30px; }
}