html, body {
    height: 100%;
    margin: 0;    
    padding: 0;      
}

.container {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    height: 100%;   
    width: 100%;         
}


.button {
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
}

.background-controls {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding: 20px 50px;
}

.title {
    color: #590FD6;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.button.orange {
    background-color: orange;
}

.button.skin-color {
    background-color: #FAD7B5;
}

.button.light-green {
    background-color: lightgreen;
}

.button.green{
    background-color: green;
}

.button.pink {
    background-color: pink;
}

